.frame {
    background-color: rgb(171, 171, 152);
    width: 600px; 
    margin: 50px;
    padding: 50px;
    border: 10px double lightgray;
    position:absolute;
    height: 50vh;
}


h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    font-size: 20px;    
}
h1 {
    color:darkolivegreen
} 

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    position: absolute;
    top: 35px;
    right: 30px;
}
